<nav class="navbar navbar-dark">
<button class="btn btn-warning counter log" ><%= link_to ("sign_out"), user_session_path %></button>
</nav>
<h1>Shadows</h1>
<section>
<div class="usersShow">
<h1>
<div>
    <div><%= image_tag (@user.photo) unless @user.photo.nil? %></div>
    <div><%= link_to (@user.name),user_path(@user.id) %></div>
            <button class="btn btn-warning counter">Number of posts: <%= @user.posts_counter%></button>
            </div>
</h1>
<p><%= @user.bio%></p>
<%@user.most_recent_posts.each do |post|%>
    <div>
    <p><%=post.title%></p>
    <p><%=post.text%></p>
     <p><%= "Comments: #{post.comments_counter || 0}, Likes: #{post.likes_counter || 0 }" %></p>
    </div>
    <%end%>
    <button class="btn btn-warning" ><%= link_to ("See all posts"),user_posts_path(@user.id) %></button>
</div>
</section>
