<h1>Posts</h1>

<div>
    <div><%= image_tag (@user.photo), height: 200 ,width: 200 %></div>
            <h1><%=@user.name%></h1>
            <button>Number of posts: <%= @user.posts_counter%></button>
            </div>
            <%@posts.each do |post|%>
                <div>
                <p><%= link_to (post.title),"/users/#{@user.id}/posts/#{post.id}"%></p>
                <p><%=post.text%></p>
                 <p><%= "Comments: #{post.comments_counter || 0}, Likes: #{post.likes_counter || 0 }" %></p>
                </div>
                <%post.most_recent_comments.each do |comment|%>
                <p><%= "#{comment.author.name}: #{comment.text}" %></p>
                <%end%>
                <%end%>
