<h1>Posts</h1>

<div>
    <div><%= image_tag (@user.photo) unless @user.photo.nil? %></div>
            <h1><%=@user.name%></h1>
            <button class="btn btn-warning" >Number of posts: <%= @user.posts_counter%></button>
            </div>
            <button class= "button counter log"><%=link_to "Add a new post", new_user_post_path %></button>
            
            <%@posts.each do |post|%>
                <div>
                <p><%= link_to (post.title),"/users/#{@user.id}/posts/#{post.id}"%></p>
                <p><%=post.text%></p>
                 <p><%= "Comments: #{post.comments_counter || 0}, Likes: #{post.likes_counter || 0 }" %></p>
                </div>
                <%post.most_recent_comments.each do |comment|%>
                <p><%= "#{comment.author.name}: #{comment.text}" %></p>
                <%end%>
                <%end%>
