<h1>New post</h1>

<%= form_with model: @post, url: user_posts_path do |f| %>

  <% flash.each do |type, msg| %>
    <div class="comment">
      <%= msg %>
    </div>
  <% end %>

    <div >
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
     <div>
      <%= f.label :text, "Text" %>
      <%= f.text_area :text %>
    </div class="button">
    <%= f.submit "Publish"%>
  </div>
<% end %>