<h1>Words</h1>
<div>
<h1 ><%= @post.title %>  by:<%=@post.author.name%></h1>
<p ><%= @post.text %>  by:<%=@post.author.name%></p>
<% @post.comments.each do |comment| %>
    <p><%= "#{comment.author.name}: #{comment.text}" %></p>
  <% end %>

  <button><%= link_to ("New post"), new_user_post_path(@user_id, @post_id)%></button>
  <button><%= link_to ("New comment"), new_user_post_comment_path(@user_id, @post_id)%></button>
</div>